{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Groupable</th>
                <td>{% if product.groupable %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ product.quantity }}</td>
            </tr>
            <tr>
                <th>Freeuse</th>
                <td>{% if product.freeUse %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if product.status %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datecreate</th>
                <td>{% if product.dateCreate %}{{ product.dateCreate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
