{% extends 'base.html.twig' %}

{% block body %}
    <h1>Roles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td><a href="{{ path('role_show', { 'id': role.id }) }}">{{ role.id }}</a></td>
                <td>{{ role.name }}</td>
                <td>{% if role.status %}Yes{% else %}No{% endif %}</td>
                <td>{{ role.priority }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('role_show', { 'id': role.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('role_edit', { 'id': role.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('role_new') }}">Create a new role</a>
        </li>
    </ul>
{% endblock %}
