{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sectors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sector in sectors %}
            <tr>
                <td><a href="{{ path('sector_show', { 'id': sector.id }) }}">{{ sector.id }}</a></td>
                <td>{{ sector.name }}</td>
                <td>{{ sector.code }}</td>
                <td>{{ sector.description }}</td>
                <td>{% if sector.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sector_show', { 'id': sector.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sector_edit', { 'id': sector.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sector_new') }}">Create a new sector</a>
        </li>
    </ul>
{% endblock %}
