{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quarters list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quarter in quarters %}
            <tr>
                <td><a href="{{ path('quarter_show', { 'id': quarter.id }) }}">{{ quarter.id }}</a></td>
                <td>{{ quarter.name }}</td>
                <td>{{ quarter.description }}</td>
                <td>{% if quarter.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('quarter_show', { 'id': quarter.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('quarter_edit', { 'id': quarter.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('quarter_new') }}">Create a new quarter</a>
        </li>
    </ul>
{% endblock %}
