{% extends 'base.html.twig' %}

{% block body %}
    <h1>Towns list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for town in towns %}
            <tr>
                <td><a href="{{ path('town_show', { 'id': town.id }) }}">{{ town.id }}</a></td>
                <td>{{ town.name }}</td>
                <td>{{ town.description }}</td>
                <td>{% if town.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('town_show', { 'id': town.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('town_edit', { 'id': town.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('town_new') }}">Create a new town</a>
        </li>
    </ul>
{% endblock %}
