{% extends 'base.html.twig' %}

{% block body %}
    <h1>Activityuser</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activityUser.id }}</td>
            </tr>
            <tr>
                <th>Editauth</th>
                <td>{% if activityUser.editAuth %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createauth</th>
                <td>{% if activityUser.createAuth %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Deleteauth</th>
                <td>{% if activityUser.deleteAuth %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datesubmit</th>
                <td>{% if activityUser.dateSubmit %}{{ activityUser.dateSubmit|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if activityUser.status %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Zoneinfluence</th>
                <td>{{ activityUser.zoneInfluence }}</td>
            </tr>
            <tr>
                <th>Mobility</th>
                <td>{{ activityUser.mobility }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('activityuser_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('activityuser_edit', { 'id': activityUser.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
