{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usermanager</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userManager.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if userManager.status %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usermanager_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('usermanager_edit', { 'id': userManager.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
