{% extends 'base.html.twig' %}

{% block body %}
    <h1>Surveys list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datesubmit</th>
                <th>Commit</th>
                <th>Actorname</th>
                <th>Actorphone</th>
                <th>Status</th>
                <th>Lattitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for survey in surveys %}
            <tr>
                <td><a href="{{ path('survey_show', { 'id': survey.id }) }}">{{ survey.id }}</a></td>
                <td>{% if survey.dateSubmit %}{{ survey.dateSubmit|date('Y-m-d') }}{% endif %}</td>
                <td>{{ survey.commit }}</td>
                <td>{{ survey.actorName }}</td>
                <td>{{ survey.actorPhone }}</td>
                <td>{% if survey.status %}Yes{% else %}No{% endif %}</td>
                <td>{{ survey.lattitude }}</td>
                <td>{{ survey.longitude }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('survey_show', { 'id': survey.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('survey_edit', { 'id': survey.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('survey_new') }}">Create a new survey</a>
        </li>
    </ul>
{% endblock %}
