{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entreprises list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adresse</th>
                <th>Pobox</th>
                <th>Phone</th>
                <th>Description</th>
                <th>Colorstyle</th>
                <th>Logourl</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td><a href="{{ path('entreprise_show', { 'id': entreprise.id }) }}">{{ entreprise.id }}</a></td>
                <td>{{ entreprise.name }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.pobox }}</td>
                <td>{{ entreprise.phone }}</td>
                <td>{{ entreprise.description }}</td>
                <td>{{ entreprise.colorStyle }}</td>
                <td>{{ entreprise.logoURL }}</td>
                <td>{% if entreprise.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('entreprise_show', { 'id': entreprise.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('entreprise_edit', { 'id': entreprise.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entreprise_new') }}">Create a new entreprise</a>
        </li>
    </ul>
{% endblock %}
