{% extends 'base.html.twig' %}

{% block body %}
    <h1>Countries list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td><a href="{{ path('country_show', { 'id': country.id }) }}">{{ country.id }}</a></td>
                <td>{{ country.name }}</td>
                <td>{{ country.description }}</td>
                <td>{% if country.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('country_show', { 'id': country.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('country_edit', { 'id': country.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('country_new') }}">Create a new country</a>
        </li>
    </ul>
{% endblock %}
